body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0;
padding: 0;
background-color: peach;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color:#3b3937;
}

img {
    max-width: 100%;
    height: auto;
}
